nav>ul {
    display: flex;
}

nav li:hover {
    background-color: cyan;

}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 10px 20px;
}

nav li a {
    text-decoration: none;
}

nav>ul>li:hover>ul {
    display: block;

}

.dropdown {
    display: none;
    position: absolute;
    background-color: cornsilk;
    padding: 0;
}

.dropdown li {
    margin: 0;
    padding: 0;
}